<div class="user-list-container">
  <div class="add-user-form">
    <h3>Add New User</h3>
    <form (ngSubmit)="createUser()">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="newUser.username"
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          [(ngModel)]="newUser.password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          [(ngModel)]="newUser.email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group">
        <select [(ngModel)]="newUser.role" name="role" required>
          <option value="CHILD">Child</option>
          <option value="PARENT">Parent</option>
        </select>
      </div>
      <button type="submit">Add User</button>
    </form>
  </div>

  <div class="users-grid">
    <div *ngFor="let user of users" class="user-card">
      <div *ngIf="editingUser?.id !== user.id; else editForm">
        <h3>{{ user.username }}</h3>
        <p>Points: {{ user.points }}</p>
        <div class="assigned-chores" *ngIf="userChores[user.id]?.length">
          <h4>Assigned Chores:</h4>
          <ul>
            <li *ngFor="let chore of userChores[user.id]">
              {{ chore.title }} ({{ chore.points }} points)
            </li>
          </ul>
        </div>
        <div class="button-group">
          <button (click)="startEditing(user)">Edit</button>
          <button class="delete-btn" (click)="deleteUser(user.id)">Delete</button>
        </div>
      </div>
      <ng-template #editForm>
        <form *ngIf="editingUser" (ngSubmit)="updateUser()">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="editingUser.username"
              name="username"
              required
            />
          </div>
          <div class="button-group">
            <button type="submit">Save</button>
            <button type="button" (click)="cancelEditing()">Cancel</button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
