<div class="register-container">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="registrationRequest.username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        [(ngModel)]="registrationRequest.password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        [(ngModel)]="registrationRequest.email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-group">
      <select
        [(ngModel)]="registrationRequest.role"
        name="role"
        required>
        <option *ngFor="let role of roles" [value]="role">
          {{role}}
        </option>
      </select>
    </div>
    <div class="error" *ngIf="error">{{ error }}</div>
    <button type="submit">Register</button>
  </form>
</div>
